<!DOCTYPE html>
<html lang="en"
<head>
    <meta charset="UTF-8">
    <title>KnowledgeMap</title>

    <!-- Link external css file styles.css -->
    <link rel="stylesheet" href="% static 'css/styles.css' %">
</head>

<body>
    <!--Navigation bar at top-->
    <header class="navbar">
        <h1 class="logo">KnowledgeMap</h1>
        <nav>

        </nav>
    </header>

    <section class="landingpage">
        <div class="landing-text">

            <!--Headline-->
            <h2>Turn your notes into visual knowledge maps</h2>

            <!--Brief description-->
            <p>
                Upload lectures, notes, or study materials and instantly generate 
                interactive cluster and nodes of connected concepts. Study smarter 
                with AI-generated quizzes tailored to your content.
            </p>

            <!--Non-functional button, more for decoration right now-->
            <button class="cta-button">Get Started Today</button>

        </div>

        <div class="landing-image">
            <img src="{% static 'images/landing_photo' %}">
        </div>

    </section>

</body>