{% load static %}

<aside id="sidebar">
    <div class="d-flex">
        <button id="toggle-btn" type="button">
            <i class="bi bi-grid"></i>
        </button>
        <div class="sidebar-logo">
            <a href="{% url 'index' %}">KnowledgeMap</a>
        </div>
    </div>

    <!-- Navigation bar items -->
    <ul class="sidebar-nav">
        <li class="sidebar-item">
            <a href="{% url 'homepage' %}" class="sidebar-link">
                <i class="bi bi-house"></i>
                <span>Home</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="{% url 'user_profile' %}" class="sidebar-link">
                {% if user.is_authenticated and user.profile.photo %}
                    <img src="{{ user.profile.photo.url }}" 
                         class="nav-avatar-img"
                         alt="{{ user.username }}">
                {% else %}
                    <i class="bi bi-person"></i>
                {% endif %}
                <span>Profile</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="{% url 'upload' %}" class="sidebar-link">
                <i class="bi bi-upload"></i>
                <span>Upload Content</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="{% url 'maps' %}" class="sidebar-link">
                <i class="bi bi-diagram-3"></i>
                <span>Maps</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="{% url 'quizzes' %}" class="sidebar-link">
                <i class="bi bi-journal-text"></i>
                <span>Quiz</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="{% url 'progress' %}" class="sidebar-link">
                <i class="bi bi-graph-up"></i>
                <span>Progress</span>
            </a>
        </li>
        
    </ul>

    <ul class="sidebar-nav" style="padding: 0; flex: 0;">
        {% if user.is_authenticated %}
        <li class="sidebar-footer">
            <form method="POST" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="sidebar-link logout-btn">
                    <i class="bi bi-box-arrow-right"></i>
                    <span>Logout</span>
                </button>
            </form>
        </li>
        {% else %}
        <li class="sidebar-footer">
            <a href="{% url 'login' %}" class="sidebar-link">
                <i class="bi bi-box-arrow-in-right"></i>
                <span>Login</span>
            </a>
        </li>
        {% endif %}
    </ul>
</aside>

    